header,footer,
article,section,
hgroup,nav,
figure{
    /* Giving a display value to the HTML5 rendered elements: */
    display:block;
}


body{
    font-family: "Lato", 'Times New Roman', Times, serif;
}
.sidenav{
    height: 100%;
    width: 0px;
    position:fixed;
    border: black;
    border-width: 10px;
    background-color: beige;
    overflow-x: hidden;
    padding: 20px 0px 0px 0px;
}
.sidenav a {
    padding: 8px 8px 8px 5px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
.sidenav ul{
    padding: 0px 2px 0px 0px;
}
.sidenav li {
      
      font-size: 10px;
      color: #818181;
      display: block;
}

.sidenav a:hover {
      color: #cc1212;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
     margin: 0px 0px 0px 0px;
      font-size: 15px; /* Increased text to enable scrolling */
      padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

footer{
    position: fixed;
    background-color: red;
    text-align:center;
    font-size:0.825em;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
}
.closing ul li{
    padding: 5px 20px 5px 5px;
    display: inline;
}

